body {
background:url(./images/mp/body_bg.gif) top left repeat;
color:#000;
text-align:center;
line-height:1.4;
margin:0;
padding:0;
font-family:'PT Sans',sans-serif;
font-size:13px;
}

a:link {
color:#3876a0;
text-decoration:none;
}

a:visited {
color:#3876a0;
text-decoration:none;
}

a:hover,a:active {
color:#363636;
}

#container {
background:#e3f1fa;
width:80%;
color:#393939;
border:1px solid #b9ccd7;
margin:auto;
padding:20px;
text-align:left;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-box-shadow:0 2px 5px rgba(218,218,218,1);
-moz-box-shadow:0 2px 5px rgba(218,218,218,1);
box-shadow:0 2px 5px rgba(218,218,218,1);
}

#content {
width:auto!important;
}

.menu_back {
background:#344754;
}

.menu {
width:83%;
margin:auto;
}

.menu ul {
color:#FFF;
text-align:right;
font-size:14px;
}

.menu ul a:link {
color:#fff;
padding:11px;
text-decoration:none;
}

.menu ul a:visited {
color:#fff;
padding:11px;
text-decoration:none;
}

.menu ul a:hover,.menu ul a:active {
background:#183548 url(./images/mp/menu_hover.gif) top repeat-x;
color:#fff;
padding:10px;
border:1px solid #323232;
text-decoration:none;
border-bottom: 0;
}

table {
color:#000;
font-family:'PT Sans',sans-serif;
font-size:15px;
}

.tborder {
background:#fafafa;
width:100%;
margin:auto;
border:1px solid #fff;
padding:8px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.1);
box-shadow:0 1px 2px rgba(0,0,0,0.1);
}

.thead {
background:#2e608a url(./images/mp/thead_bg.gif) top left no-repeat;
color:#fff;
border-left:1px solid #275071;
border-right:1px solid #275071;
border-bottom:1px solid #275071;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
padding-top:5px;
}

.thead a:link {
color:#fff;
text-decoration:none;
}

.thead a:visited {
color:#fff;
text-decoration:none;
}

.thead a:hover,.thead a:active {
color:#fff;
text-decoration:underline;
}

.tcat {
color:#000;
font-size:12px;
}

.tcat a:link {
color:#000;
}

.tcat a:visited {
color:#000;
}

.tcat a:hover,.tcat a:active {
color:#000;
}

.tcat_1 {
background:#2e608a url(./images/mp/thead_bg.gif) top left no-repeat;
color:#FFF;
border-left:1px solid #275071;
border-right:1px solid #275071;
border-bottom:1px solid #275071;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
padding-top:5px;
font-size:16px;
}

.tcat_1 a:link {
color:#e3f1fa;
}

.tcat_1 a:visited {
color:#e3f1fa;
}

.tcat_1 a:hover,.tcat_1 a:active {
color:#e3f1fa;
}

.trow1 {
background:#f4f4f4;
border-bottom:1px solid #FFF;
border-top:1px solid #FFF;
border-left:1px solid #f4f4f4;
border-right:1px solid #f4f4f4;
}

.trow2 {
background:#f4f4f4;
border-bottom:1px solid #FFF;
border-top:1px solid #FFF;
border-left:1px solid #f4f4f4;
border-right:1px solid #f4f4f4;
}

.trow_shaded {
background:#ffdde0;
}

.trow_selected td {
background:#FFFBD9;
}

.trow_sep {
background:#e5e5e5;
color:#000;
font-size:12px;
font-weight:700;
}

.tfoot {
color:#393939;
}

.tfoot a:link {
color:#3876a0;
text-decoration:none;
}

.tfoot a:visited {
color:#3876a0;
text-decoration:none;
}

.tfoot a:hover,.tfoot a:active {
color:#424242;
text-decoration:underline;
}

.bottommenu {
background:#344754;
color:#FFF;
border:1px solid rgba(0,0,0,.4);
margin:0 -21px -20px;
border-top:0;
box-shadow:0 0 1px rgba(255,255,255,.5) inset;
padding:12px;
-webkit-border-bottom-right-radius:3px;
-webkit-border-bottom-left-radius:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-bottomleft:3px;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
}

.bottommenu a:link {
color:#FFF;
text-decoration:none;
}

.bottommenu a:visited {
color:#FFF;
text-decoration:none;
}

.bottommenu a:hover,a:active {
color:#e3f1fa;
}

.navigation {
background:#fbfbfb;
color:#a7a7a7;
padding:8px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
font-size:14px;
}

.navigation a:link {
color:#a7a7a7;
text-decoration:none;
}

.navigation a:visited {
color:#a7a7a7;
text-decoration:none;
}

.navigation a:hover,.navigation a:active {
color:#3876a0;
text-decoration:none;
}

.navigation .active {
color:#3876a0;
font-size:18px;
font-weight:700;
}

img {
border:none;
}

.clear {
clear:both;
}

.hidden {
display:none;
float:none;
width:1%;
}

.hiddenrow {
display:none;
}

.menu ul {
list-style:none;
margin:0;
padding:10px;
}

.menu li {
display:inline;
}

.menu img {
padding-right:5px;
vertical-align:top;
}

hr {
background-color:#000;
color:#000;
height:1px;
border:0;
}

.codeblock {
background:#fff;
border:1px solid #ccc;
padding:4px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
}

.codeblock .title {
border-bottom:1px solid #ccc;
font-weight:700;
margin:4px 0;
max-width:800px;
}

.codeblock code {
overflow:auto;
height:auto;
max-height:200px;
display:block;
font-family:Monaco,Consolas,Courier,monospace;
font-size:13px;
}

#header {
background:#31678c;
}

.alert_yellow {
background:#FFF6BF;
border:1px solid #FFD324;
text-align:center;
margin:10px auto;
padding:5px 20px;
color:#383838;
margin:10px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
}

td.thead a {
font-weight:300;
padding-left:4px;
}

.bottommenu a {
color:#fff;
padding:5px;
}